.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.zip
lambda/rotate_secret.zip
user-rotation/lambda/build/
user-rotation/lambda/awslambda-psycopg2/
user-rotation/lambda/*.dist-info/
user-rotation/lambda/__pycache__/
user-rotation/lambda/*.pyc
user-rotation/lambda/bin
user-rotation/lambda/boto3
user-rotation/lambda/psycopg2
user-rotation/lambda/botocore
user-rotation/lambda/dateutil
user-rotation/lambda/jmespath
user-rotation/lambda/psycopg2_binary.libs
user-rotation/lambda/s3transfer
user-rotation/lambda/urllib3
user-rotation/lambda/six.py

*.pyc
__pycache__/
.env
gitlab-access.sh